*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
ul, ol, li{
    list-style: none;
}

body{
    padding: 0 80px;
    font-family: "Poppins", sans-serif;
}
header{
    height: 60px;
    width: calc(100% - 160px);
    position: fixed;
    top: 60px;
    background-color: lightgreen;
    display: flex;
    justify-content: space-between;
}
header menu{
    display: flex;
    align-items: center;
    gap: 48px;
}
header li{
    padding: 4px 8px;
    transition: .5s;
}
header li:hover{
    background-color: #FBDDC1;
    box-shadow: 0 4px 6px #0004;
}
main{
    height: 700px;
    background-color: plum;
}
footer{
    height: 525px;
    background-color: tomato;
}