*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
ul, ol, li{
    list-style: none;
}

body{
    padding: 0 80px;
}
header{
    height: 60px;
    width: calc(100% - 160px);
    position: fixed;
    top: 60px;
    background-color: lightgreen;
}
main{
    height: 700px;
    background-color: plum;
}
footer{
    height: 525px;
    background-color: tomato;
}